In [2]:
import pandas as pd
from pandas import Series, DataFrame
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [47]:
df=pd.read_csv('UCI_Credit_Card_$.csv')
df.head()
df.drop(columns=['LIMIT_BAL','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6'],inplace=True)

In [35]:
df.shape

(30000, 25)

In [36]:
df.describe()

,ID,LIMIT_BAL$,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4$,BILL_AMT5$,BILL_AMT6$,PAY_AMT1$,PAY_AMT2$,PAY_AMT3$,PAY_AMT4$,PAY_AMT5$,PAY_AMT6$,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,5359.498325,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,1384.414367,1289.964831,1243.896333,181.234576,189.477232,167.221808,154.434460,153.580404,166.896082,0.221200
std,8660.398374,4151.925170,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,2058.651396,1945.508985,1905.731441,530.024971,737.307853,563.422767,501.317112,488.905782,568.878905,0.415062
min,1.000000,320.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-5440.000000,-2602.688000,-10867.296000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,1600.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,74.456000,56.416000,40.192000,32.000000,26.656000,12.480000,9.472000,8.080000,3.768000,0.000000
50%,15000.500000,4480.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,609.664000,579.344000,546.272000,67.200000,64.288000,57.600000,48.000000,48.000000,48.000000,0.000000
75%,22500.250000,7680.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,1744.192000,1606.096000,1574.344000,160.192000,160.000000,144.160000,128.424000,129.008000,128.000000,0.000000
max,30000.000000,32000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,28530.752000,29669.472000,30773.248000,27953.664000,53896.288000,28673.280000,19872.000000,13648.928000,16917.312000,1.000000

In [62]:
df.dtypes

ID                              int64
LIMIT_BAL$                    float64
SEX                             int64
EDUCATION                     float64
MARRIAGE                      float64
AGE                           float64
PAY_1                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1$                    float64
BILL_AMT2$                    float64
BILL_AMT3$                    float64
BILL_AMT4$                    float64
BILL_AMT5$                    float64
BILL_AMT6$                    float64
PAY_AMT1$                     float64
PAY_AMT2$                     float64
PAY_AMT3$                     float64
PAY_AMT4$                     float64
PAY_AMT5$                     float64
PAY_AMT6$                     float64
default.payment.next.month      int64
dtype: object

In [43]:
df['EDUCATION'].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

In [56]:
#Removing education types 0,4,5,6
def checkEdu(x):
    if x==1 or x==2 or x==3:
        return x
df['EDUCATION']=df['EDUCATION'].map(checkEdu)
df['EDUCATION'].value_counts()

30000

In [45]:
df['MARRIAGE'].value_counts()

2    15964
1    13659
3      323
0       54
Name: MARRIAGE, dtype: int64

In [49]:
#Removing marriage types 0,3
def checkMar(x):
    if x==1 or x==2:
        return x
df['MARRIAGE']=df['MARRIAGE'].map(checkMar)
df['MARRIAGE'].value_counts()

2.0    15964
1.0    13659
Name: MARRIAGE, dtype: int64

In [50]:
#Removing age groups greater than 59
def checkAge(x):
    if x<59:
        return x
df['AGE']=df['AGE'].map(checkAge)

In [52]:
#Removing limit balance greater than 30000USD
def checkLimit(x):
    if x<30000.00:
        return x
df['LIMIT_BAL$']=df['LIMIT_BAL$'].map(checkLimit)

In [73]:
#Removing rows with billing amount 0 across 6 periods and default status as 1
mask=(df['BILL_AMT1$']==0)  & (df['BILL_AMT2$']==0.0)  & (df['BILL_AMT3$']==0.0) & (df['BILL_AMT4$']==0.0) & (df['BILL_AMT5$']==0.0) & (df['BILL_AMT6$']==0.0) & (df['default.payment.next.month']==1.0)
df=df[~mask]

29683

In [79]:
#Removing rows with negative billing amount in September and default status as 1
mask1=(df['BILL_AMT1$']<0) & (df['default.payment.next.month']==1)
df=df[~mask1]

29574

In [89]:
df.dropna(inplace=True)
len(df)
export_csv=df.to_csv(r'C:\Users\nehaa\Desktop\cleansed_data.csv', index = None, header=True)

In [ ]:
Obtained the final data cleansed data set for use